* {
    margin: 0px;
    box-sizing: border-box;
}

*::after, *::before{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* Set Font */
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    line-height: 1.6em;
}
/* End set Font */

/* Reset Css */
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    }
/* End Reset Ul tag */

.bg-grey {
    background: #f7f7f7;
}

section > .container{
    /* width: 1170px; */
    margin: auto;
    display: block;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

/* Navigation - show avatar with screen laptop */
#nav-bar .nav-item img {
    width: 150px;
    border-radius: 50%;
    position: absolute;
    border: 10px solid #fff;
    top: -75px;
    left: 0;
}
#nav-bar .navbar-nav  li:nth-child(3) {
    height: 100%;
    position: relative;
    width: 160px;
    margin: 0px 10px;

}

/* End Navigation - show avatar with screen laptop */

#personal-info {
    padding-left: 50px;
}

/* Begin Banner */
#banner {
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    background-color: #cccccc;
}

#banner h1 {
    text-align: center;
    font-size: 30px;
    color: #DDDDDD;
    padding-top: 30px;
}

#banner span {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    color: #DDDDDD;
}
/* End Banner */

/* Begin Navigation */

#nav-bar .container a {
    display: inline-block;
}

#nav-bar .container a {
    border-left: 1px solid #bdbdbd;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    padding:20px 15px;
}


#nav-bar .container a i {
    color: #1DA1F2;
}

/* End Navigation */


/* Begin Target, Personal info */

#about::before{
    display: block;
    content: '';
    height: 60px;

}

#about .section-title {
    font-size: 25px;
    font-weight: 700;
}

#personal-info .hidden {
    display: none;
}

#target h1, #personal-info h1 {
    margin: 20px 0px;
    color: #000000;
}

#target p {
    text-align: justify;
    line-height: 1.6em;
}
#personal-info ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    line-height: 1.6em;
}

#personal-info .info span{
    font-weight: 600;
}

#personal-info .social li {
    display: inline-block;
    color: #1DA1F2;
    padding: 3px;
}

.personal-confirm {
    padding-bottom: 1rem;
}
#confirmForm .confirm-msg {
    display: inline-block;
    font-size: 12px;
    padding: 5px 0px;
}

.msg-error {
    color: #ff0000;
}

/* End Target, Personal info */


/* Begin  Job Info*/

#job-info .job-item {
    padding: 40px 20px 10px;
    text-align: justify;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
}

#job-info .job-item h1 {
    font-weight: 700;
    font-size: 25px;
}

#job-info .job-item > ul {
    margin-top: 30px;
    padding-left: 20px;
    font-weight: 500px ;
}

#job-info ul li::marker {
    color: #1DA1F2;
    font-size: 1.2em;
} 

#job-info .job-item i {
    font-size: 25px;
}

#job-info .job-item h1 span {
    display: block;
    float: right;
}

#job-info .time {
    font-style: italic;
    font-size: 14px;
    margin-bottom: 10px;
}

#job-info .time span {
    background-color: #1DA1F2;
    padding:2px 10px;
    border-radius: 10px;
    color: #fff;
}

.shumi ul{
    list-style: none;
}

.shumi ul li {
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}

.shumi li i {
    border:1px solid #0075b4;
    padding: 15px 15px;
    border-radius: 50%;
    display: inline-block;
    color: #0075b4;
}

.shumi li span {
    display: block;
    margin-top: 5px;
}

.skill ul,
.foreign-lang ul {
    list-style: none;
}

.skill ul span,
.foreign-lang ul span {
    display: inline-block;
    background-color:  #BBBBBB;
    width: 50px;
    height: 2px;
    margin-right: 10px;
}

.skill ul span.active,
.foreign-lang ul span.active {
    background-color:  #0075b4;
}
/* End Job info */

/* Begin Certificate  */
#project .section-title,
#certificate .section-title {
    font-weight: 700;
    font-size: 25px;
    margin: 30px 0px 0px;
    color: #555555;
}

#certificate h1 {
    padding-top: 30px;
}

.certificate-items {
    border-bottom: 1px solid #d6c08d;
}

.certificate-items:last-child {
    border-bottom: none;
}

.certicate-content {
    padding-top: 10px;
}

.certicate-content h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #666666;
    font-size: 15px;
}
/* End certificate */

/* Begin Project */

.project-item {
    border: 1px solid #CCCCCC;
    padding-left: 0;
    padding-right: 0;
}


.project-item .project-name {
    text-transform: uppercase;
    padding:20px;
    border-bottom: 1px solid #CCCCCC;
}

.project-item .project-time p {
    display: inline-block;
    margin:10px;
}

.project-time p:first-child {
    border: 1px solid #0075b4;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #0075b4;
    color: #f7f7f7;
}

.project-item .project-time {
    border-bottom: 1px solid #CCCCCC;
}

.protect-detail table {
    width: 100%;
    border-collapse: collapse;
}

.protect-detail td {
    border-bottom: 1px solid #CCCCCC;
    text-align: justify;  
    padding:5px;  
    vertical-align: top;
}

.protect-detail tr:last-child td {
    border-bottom: none;
}

.protect-detail tr td:first-child {
    width: 100px;
}
/* End Project */


/* Begin Footer */
#footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    list-style: none;
    gap: 20px;
}
#footer ul li i {
    color: #0075b4;
    font-size: 25px;
}
#footer ul {
    padding-left: 0px !important;
}

/* End Footer */

/* Project charter */

#project-detail {
    padding-top: 50px;
    padding-bottom: 50px;
}


#project-detail .container {
    background-color: #1DA1F2;
}


#project-detail .bg-shiro {
    background-color: #fff;
    padding: 1rem;
}

#project-detail h2.title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #0075b4;
    padding-bottom: 1rem;
    border-bottom: 1px solid #666666;
}

/* Project Goal */

.goal-item h4,.project-members h4, .project-timeline h4 {
    font-weight: 600;
}

.project-goal .row {
    border-bottom: 1px solid #bdbdbd;
    margin-left: 0px;
    margin-right: 0px;
}

/* Project Scope */

.project-scopes h3 {
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.scope-in, .scope-out {
    text-align: justify;
}

.project-timeline span {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #d6c08d;
    line-height: 50px;
}

.timeline {
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px dotted #bdbdbd;
}

/* Change size icon */
.f-size {
    font-size: 1.5rem;
}

.goal-img, .team-img, .primary-img {
    text-align: center;
}